@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    scrollbar-width: thin;
    scrollbar-color: #124255 #0e1d23;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0e1d23
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #124255;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #195f71;
}
